:root {
    --azul-alura: #2A7AE4;
    --fonte-branca: #fff;
    --fonte-preta: #464646;
    --fundo-azul: #EAF2FD;
    --fonte-placeholder: #A2A2A2;
    --fonte-padrao: 'Raleway', sans-serif;
    font-size: 10px;
}

.about {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo-azul);
}

.about__logo {
    width: 176px;
    margin-bottom: 16px;

}

.about__company__nav {
    color: var(--fonte-preta);
    font-weight: 500;
    text-align: center;
    height: 194px;
    margin-bottom: 32px;
}

.about__company__option {
    font-size: 1.6rem;
    list-style: none;
    padding-bottom: 16px;

}

.about__contact {
    margin-left: 8px;
}

.about__text {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--fonte-preta);
    padding-bottom: 8px;
}

.about__contact__name {
    text-align: start;
    text-justify: start;
    width: 93%;

    margin: 0 16px 16px 0;
    height: 56px;


}

.about__contact__mensage {
    width: 93%;
    height: 82px;

    margin: 0 16px 8px 0;


}

.about__contact__button {
    color: #fff;
    font-weight: 600px;
    font-size: 1.4rem;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-alura);
    margin-bottom: 16px;
}

.assinatura {
    margin: 32px;
    font-size: 1.6rem;
    text-align: center;
}

@media screen and (min-width:768px) {

    .about {
        flex-direction: row;
        align-items: flex-start;
    }

    .about__container {
        margin: 32px 32px 16px;
        padding-right: 78px;
    }

    .about__company__nav {
        text-align: start;
    }

    .about__text {
        margin-top: 32px;
    }
}

@media screen and (min-width:1133px) {
    footer {
        background-color: #EAF2FD;
    }

    .about__container {
        display: flex;
        gap: 112px;
        padding: 0;
        margin-right: 112px;

    }

    .about {
        display: flex;
        margin: 64px auto;
        width: 1133px;
    }


.about__logo {
    width: 176px;
    height: 50px;

}

.about__contact__name {
    width: 560px;
    height: 56px;
}

.about__contact__mensage {
    width: 560px;
    height: 82px;
}
.about__contact__button{
    width: 165px;
height: 51px;
}

}