:root {
    --azul-alura: #2A7AE4;
    --fonte-branca: #fff;
    --fonte-preta: #464646;
    --fundo-azul: #EAF2FD;
    --fonte-placeholder: #A2A2A2;
    --fonte-padrao: 'Raleway', sans-serif;
    --fundo-cinza: #E5E5E5;
    --borda-cinza:#C8C8C8;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

.header__search {
    display: none;
}

.header {

    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
    height: 28px;
    display: inline;
    margin-left: 16px;
}

.header__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35.5px;
    height: 40px;
    width: 133px;
    color: var(--azul-alura);
    font-weight: 600;
    border: 1px solid var(--azul-alura);


}

.header__icon {
    color: var(--fonte-preta);
    margin: 0 28px 0 38.5px;
}

.promotion {
    display: flex;
    flex-flow: column;
    height: 192px;
    background-image: url(../img/banner-image.png.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    padding-left: 16px;
    box-sizing: border-box;

}

.promotion__title {
    font-weight: 700;
    color: var(--fonte-branca);
    font-size: 2.2rem;
    padding: 78px 16px 8px 0;



}

.promotion__description {
    font-weight: 600;
    color: var(--fonte-branca);
    font-size: 1.4rem;
    padding-bottom: 8px;
}

.promotion__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--fonte-branca);
    padding: 16px 12px;
    background-color: var(--azul-alura);
    width: 119px;
    height: 40px;
    font-weight: 600;
    font-size: 1.4rem;
    box-sizing: border-box;

}

@media screen and (min-width:768px) {

    .header__container {
        padding-left: 32px;
        display: flex;
        align-items: center;
        width: 404px;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;



    }

    .header__search {
        width: 272px;
        height: 40px;
        background-color: #F5F5F5;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .header__search__text {
        margin-left: 16px;
        background-color: #F5F5F5;
        border: none;

    }

    .header__search__text:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
        margin-left: 16px;
        background-color: #F5F5F5;
        border: none;

    }

    .search__icon {
        color: var(--fonte-placeholder);
        margin: 0 20px 5px;
    }

    #header__icon {
        display: none;
    }

    .header__button {
        margin-right: 32px;
    }

    .promotion {
        background-image: url(../img/banner-image.png.jpg);
        background-position: center;
        background-size: cover;
        height: 352px;
        padding-left: 32px;
    }

    .promotion__title {
        font-size: 5.2rem;
        padding: 0;
        margin: 161px 32px 16px 0;
    }

    .promotion__description {
        font-size: 2.2rem;
        padding-bottom: 16px;



    }

    .promotion__button {
        margin-bottom: 32px;

    }
}

@media screen and (min-width:1136px) {


    .header {
        margin: 0 auto;
        width: 1136px;
    }

    .header__container {
        display: flex;
        align-items: center;
        width: 601px;
        justify-content: space-between;
    }

    .header__logo {
        width: 176px;
        height: 50px;
    }

    .header__search {
        width: 393px;
        height: 40px;
    }
    .header__button{
        margin: 0;
    }
.promotion__container{
    width: 100%;
    background-image: url(../img/banner-image.png);
    background-size: cover;
    background-position: center;

}
    .promotion {
        background-image: none;
        background-position: center;
        margin: 0 auto;
        width: 1136px;
    }

}