:root {
    --azul-alura: #2A7AE4;
    --fonte-branca: #fff;
    --fonte-preta: #464646;
    --fundo-azul: #EAF2FD;
    --fonte-placeholder: #A2A2A2;
    --fonte-padrao: 'Raleway', sans-serif;
    font-size: 10px;
}

main {
    background-color: #E5E5E5;
}

.item__desktop {
    display: none;
}

.product {
    display: flex;
    flex-wrap: wrap;
  
}


.title__container {
    width: 100%;
    
}

.title__text {
    color: var(--fonte-preta);
    font-weight: 700;
    font-size: 2.2rem;

}

.title__button {
    color: #fff;
    background-color: var(--azul-alura);
    border: none;
    width: 151px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 16px;
}

.product__div {
    display: flex;
    height: 26px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 32px 32px;
    box-sizing: border-box;
}

.product__title {
    font-weight: 700;

    height: 26px;
    width: 102px;
    font-size: 2.2rem;
    color: var(--fonte-preta);

}

.icon__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    gap: 24px;
    position: relative;
    bottom: 170px;
}

.product__icon-trash {
    width: 17px;
    height: 17px;
    color: #fff;


}

.product__icon-pen {
    width: 17px;
    height: 17px;
    color: #fff;


}

.material-symbols-outlined {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    fill: 100%;

}

.product__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 16px;
    width: 77px;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;


    color: var(--azul-alura);


}

.product__container {

    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    padding: 32px;
}

.product__item {
    width: 140px;
    height: 249px;

    padding-bottom: 16px;

}

.product__img {
    width: 140px;
    height: 174px;
    ;
}

.product__name {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--fonte-preta);
    padding-bottom: 8px;
    padding-top: 8px;


}

.product__price {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--fonte-preta);
    padding-bottom: 8px;
}

.product__button {

    font-weight: 700;
    font-size: 1.4rem;
    color: var(--azul-alura);
    margin-bottom: 16px;

}

@media screen and (min-width:768px) {

    .title__container{
        
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
    }
    .title__button{
        padding: 0;
    }

    .product__item {
        width: 164px;
        height: 252px;

    }

    .product__img {
        width: 164px;
        height: 174px;
    }
    .product__container{
       margin: 32px 32px 0 32px;
    }

}

@media screen and (min-width:1136px) {
    .item__desktop {
        display: block;
    }
    .title__text{
        font-size: 3.2rem;
    }
    .title__button{
        font-size: 1.6rem;

    }

    .product__div {
        margin: 0 0 16px 0;
    }

    .product {
        width: 1133px;
        margin: 0 auto;
        padding: 0;
    }



    .product__title {
        font-size: 3.2rem;
        width: auto;

    }

    .product__container {
        display: flex;
        gap: 15px;
        width: 1136px;
        margin: 0 auto;
        padding: 70px 0 36px 0;
    }

    .product__item {
        width: 176px;
        height: 252px;
        padding: 0;

        margin-bottom: 64px;

    }

    .product__img {
        width: 176px;
        height: 174px;
        padding: 0;

    }
}